@media (min-width: 1200px) {
	


.body-wrapper {
    padding: 0;
}

.header {
    width: 1170px;
    margin: 0 auto 44px;
    padding-top: 11px;
}

.header-lang {
    padding-top: 0;
}

.header-contacts {
    margin-bottom: 0;
}

.logo {
    width: 213px;
}

.header-row:first-child {
    margin-bottom: 16px;
}

.header-motto {
    letter-spacing: 2px;
}

.header-link-get__container {
    width:  auto;
    display: block;
}
.header-link {
    text-align: right;
    padding-right: 0;
}

.nav__links-container,
.footer-nav
{justify-content: space-between;padding: 15px 10px;}

.nav__link {
    margin: 0;
    
    /* font-weight: 900; */
}
    .main-wrapper {
        width: 1170px;
        margin: auto;
    }
    .footer-nav {
        width: 1170px;
        margin: 0 auto;
    }
    .item-photos {
        margin-right: 29px;
    }
    .item-text {
        /*width: 570px;*/
    }
    .item-cards {
        justify-content: normal;
    }
    .ItemCard__img-controls {
        opacity: 0;
    }
    .ItemCard__name {
        color: #2f2f2f;
        text-decoration: none;
    }
    .ItemCard__link:hover .ItemCard__name,
    .ItemCard__name:hover {
        color: #f6a3c7;
    }
    .header-title-and-motto {
        width: auto;
    }
}