
/*@font-face {*/
	/*font-family: 'HouseCasual';*/
	/*src: url('../fonts/House Casual.otf');*/
/*}*/
@font-face {
	font-family: 'Comfortaa-Light';
	font-weight: 300;
	src: url('../fonts/Comfortaa-Light.ttf');
}
@font-face {
	font-family: 'Comfortaa-Regular';
	font-weight: 400;
	src: url('../fonts/Comfortaa-Regular.ttf');
}
@font-face {
	font-family: 'Comfortaa-Bold';
	font-weight: 700;
	src: url('../fonts/Comfortaa-Bold.ttf');
}
/*@font-face {*/
	/*font-family: 'Cormorant SC';*/
	/*font-weight: 400;*/
	/*src: url('../fonts/CormorantSC-Regular.woff');*/
/*}*/
/*@font-face {*/
	/*font-family: 'Cormorant SC';*/
	/*font-weight: 700;*/
	/*src: url('../fonts/CormorantSC-Bold.woff');*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+SC');
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext');*/
/*reset styles*/

html {
  font-family: 'Comfortaa-Regular', cursive;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  color: #2f2f2f;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #2f2f2f;
}
* {
  box-sizing: border-box;
}

a {
 text-decoration: none;  
 color: #2f2f2f;
}
a:hover {
  text-decoration: none; 
  color: #f6a3c7;
}

b {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
 }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  border: none;
  border-radius: 0;
}
 
img{
  max-width:100%;
  max-height:100%;
}


/***********************/
/**   FOR HEADER   */
/***********************/



.header-contacts {
    display:  flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.body-wrapper {
    padding: 3%;
}

.header-contacts__phone {
    display:  flex;
    margin-right: 10%;
}

.header-contacts__phone-ico {
    /*border:  1px solid;*/
    width: 16px;
    height: 20px;
    padding-top: 2px;
    padding-left: 2px;
    overflow: hidden;
}

.header-contacts__link {
    display:  block;
    font-size: 12px;
    font-family: 'Comfortaa-Light';
    color: #2f2f2f;
    padding-top: 5px;
    margin-left: 8px;
    white-space: nowrap;
    /* width: 100%; */
}

.header-contacts__mail {
    display:  flex;
}

.header-contacts__mail-ico {
    /*border:  1px solid;*/
    width: 16px;
    height: 20px;
    overflow: hidden;
    padding-top: 3px;
}

.header-lang {
    text-align:  right;
}

.header-lang__link {
    font-family: 'Comfortaa-Bold';
    font-size: 16px;
    text-transform: uppercase;
}

.logo {
    display:  none;
}

.header-title {
	/*font-family: 'HouseCasual';*/
    font-family: 'Cormorant SC', serif;
	font-size: 56px;
	font-weight: 400;
	text-align: center;
	color: #59c5bd;
	margin-bottom: 16px;
}

.header-motto {
    display:  none;
}

.header-link-get__container {
    text-align:  right;
    font-size: 14px;
    margin-bottom: 16px;
}

.nav__link {
    text-transform:  uppercase;
    font-family: 'Comfortaa-Bold';
    display:  block;
    font-size: 14px;
    margin-bottom: 16px;
    text-align:  center;
}
.nav__link.nav__link_active {
    color: #f6a3c7;
}
.nav__m-ico {
    border:  1px solid;
    width:  32px;
    height:  32px;
    border-radius: 5px;
    padding: 8px 3px;
    display:  inline-block;
    margin-bottom: 16px;
    transition:  transform .5s ease;
}

.nav__m-ico-bar {height: 2px;background-color: #2f2f2f;margin-bottom: 3px;}

.nav {
    text-align:  right;
}

.nav__links-container {
    padding: 16px 0 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #59c5bd;
    border-bottom: 1px solid #59c5bd;
    opacity: 0;
    transition: all .5s ease;
}

.nav_m-open .nav__m-ico {
    transform: rotate(90deg);
}

.nav_m-open .nav__links-container {
    height:  198px;
    opacity: 1;
}


/***********************/
/**   MAIN  */
/***********************/


.main {
}
.main-wrapper {
}
.page-title__container {
  display: flex;
  justify-content: center;
margin-bottom: 40px;
}
.page-title__ico {
  width: 40px;
  min-width: 40px;
  height: 20px;
  padding-top: 5px;
  overflow: hidden;
}
.page-title__ico-svg {
  fill:#f6a3c7;
  fill-rule:evenodd;
}
/*#beads .bcls-1,
#beads .bcls-2{fill:#f6a3c7}
#beads .bcls-2{fill-rule:evenodd}*/
.page-title {
  /*font-family: 'HouseCasual';*/
    font-family: 'Cormorant SC', serif;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0 8px;
    font-weight: bold;
}

.caution {
  min-width: 300px;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.6;
}
.caution__link {
  display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
}

.ItemCard {
    width: 278px;
}
.ItemCard__img-container {
    position: relative;
    /*height: 208px;*/
    height: 260px;
    margin-bottom: 9px;
}
.ItemCard__img {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    height: 260px;
    height: -webkit-fill-available;
    object-fit: cover;
}
.ItemCard__link {
    width: 278px;
    display: block;
    margin: 9px;
}
.ItemCard__available-and-controls {
    position: relative;
    height: 51px;
}
.ItemCard__available {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 5px;
}
.ItemCard__available-container {
    height: 51px;
    width: 190px;
}
.ItemCard__name {
    font-family: 'Comfortaa-Bold';
    font-size: 16px;
    margin-bottom: 11px;
}
.ItemCard__price {
    font-family: 'Comfortaa-Bold';
    font-size: 14px;
    margin-bottom: 35px;
}
.ItemCard__categories {
    font-size: 10px;
}
.ItemCard__categories span{
    margin-right: 10px;
}
.ItemCard__available-note {
    font-size: 10px;
}
.ItemCard__img-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    display: flex;
    height: 35px;
    width: 88px;
    opacity: 0;
}
.ItemCard__link:hover .ItemCard__img-controls {
    opacity: 1;
}
.ItemCard__left-arrow {
    width: 34px;
    height: 35px;
    margin-right: 20px;
    background-image: url("./../img/arrow-left.png");
    cursor: pointer;
}
.ItemCard__right-arrow {
    width: 34px;
    height: 35px;
    background-image: url("./../img/arrow-right.png");
    cursor: pointer;
}
.ItemCard__left-arrow:hover {
    background-image: url("./../img/arrow-left-hover.png");
}
.ItemCard__right-arrow:hover {
    background-image: url("./../img/arrow-right-hover.png");
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    display: none !important;
}
.item-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-nav {
    display: none;
}
.footer-link-get__container {
    text-align: center;
    padding-top: 23px;
    font-size: 14px;
    padding-bottom: 10px;
}
.footer__contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7px;

}
.footer__contacts .header-contacts__link {
    font-size: 14px;
}
.footer__contacts .header-contacts__mail-ico {
    width: 19px;
}
.footer__contacts .header-contacts__phone-ico {
    width: 18px;
}
.footer__contacts .header-contacts__mail {
    margin-right: 20px;
    padding-bottom: 10px;
}
.footer__contacts .header-contacts__phone {
    margin-right: unset;
    padding-bottom: 10px;
}
.social-contacts {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.social-contacts__item {
    display: block;
    width: 26px;
    height: 26px;
    margin: 9px;
    cursor: pointer;
}
.social-contacts__item svg {
    fill: #54c3bc;
}
.social-contacts__item:hover svg {
    fill: #f6a3c7;
}
.footer__copyright {
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #54c3bc;
    padding-top: 15px;
    padding-bottom: 15px;
}
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #53c3bb;
    font-size: 16px;
    margin: 9px;
    background-image: url("./../img/page-number.png");
    cursor: pointer;
}
.pagination__item:hover {
    color: #f6a3c7;
}
.pagination__item.pagination__item_active {
    background-image: url("./../img/page-number-active.png");
    color: #ffffff;
    cursor: unset;
}

.item-thumbnails {
    display: none;
    /*padding-bottom: 15px;*/
    flex-wrap: wrap;
}
.item-thumbnails__img-container {
    width: 102px;
    height: 78px;
    border: 1px solid #59c5bd;
    padding: 2px;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}
.item-thumbnails__img-container:last-child {
    margin-right: 0;
}
.item-thumbnails__img-container:hover {
    border-color: #f6a3c7;
}
.item-slider__img-controls {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.item__available-and-price {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}
.item__avialable {
    text-transform: uppercase;
    font-family: 'Comfortaa-Bold';
    font-size: 12px;
    padding-bottom: 8px;
}
.item__note {
    font-size: 12px;
}
.item__price {
    margin-left: auto;
    font-family: 'Comfortaa-Bold';
    font-size: 19px;
}
.item__categories {
    margin-bottom: 40px;
}
.item__categories span {
    margin-right: 10px;
}
.pink-border {
    width: 100%;
    height: 1px;
    background-color: #f6a3c7;
}
.item__section-title {
    padding-top: 19px;
    font-family: 'Comfortaa-Bold';
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 22px;
}
.item__section-text {
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 22px;
    text-align: justify;
}
.item__buy-contacts {
    display: flex;
    padding-top: 3px;
    padding-bottom: 18px;
    flex-wrap: wrap;
}
.item__buy-contacts .header-contacts__link {
    color: #59c5bd;
}
.item__buy-contacts svg {
    fill: #59c5bd;
}
.item__buy-contacts .header-contacts__link:hover {
    color: #f6a3c7;
}
.header-contacts__phone:hover svg,
.header-contacts__mail:hover svg {
    fill: #f6a3c7;
}
.item__share-btns {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.item__share-btn {
    display: block;
    width: 20px;
    margin-left: 14px;
}
.item__share-btn svg {
    fill: #54c3bc;
}
.item__share-btn:hover svg {
    fill: #f6a3c7;
}
.OtherItemsTitleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
.OtherItemsTitleContainer__back-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #f6a3c7;
    z-index: 0;
    top: 12px;
}
.OtherItemsTitleContainer__text {
    font-family: 'Cormorant SC', serif;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 10px;
    background-color: #ffffff;
    position: relative;
    z-index: 20;
}
.item-photos {
    margin-bottom: 20px;
    max-width: 570px;
}
.item-data {
    padding-bottom: 20px;
}
.item__related-links {
    display: flex;
    margin-bottom: 22px;
}
.item__related-link {
    display: block;
    margin-right: 20px;
    font-family: 'Cormorant SC', serif;
    color: #59c5bd;
    font-size: 18px;

}